main{
    text-align: center;
}
.jatekTer>div{
    border: 1px solid black;
   padding: 30px;
    margin: 1px;
    width: 30px;
    border-radius: 300px;
    cursor: pointer;
}
.jatekTer{
   
    width: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
}
.btn{
    margin: 10px;
}
